USE [master]
GO
/****** Object:  Database [CJ3027791PR2]    Script Date: 19/08/2025 10:15:59 ******/
CREATE DATABASE [CJ3027791PR2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cj3027792pr2', FILENAME = N'/var/opt/mssql/data/cj3027792pr2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cj3027792pr2_log', FILENAME = N'/var/opt/mssql/data/cj3027792pr2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CJ3027791PR2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CJ3027791PR2]
GO
/****** Object:  Table [dbo].[cadcarne]    Script Date: 19/08/2025 10:15:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cadcarne](
	[NOME] [varchar](20) NULL,
	[CPF] [char](14) NULL,
	[RG] [char](14) NULL,
	[FAZENDA] [varchar](20) NULL,
	[NASCIMENTO] [date] NULL,
	[EMAIL] [varchar](30) NULL,
	[SENHA] [varchar](15) NULL,
	[ENDEREÇO] [char](10) NULL,
	[TELEFONE] [char](12) NULL
) ON [PRIMARY]
GO
USE [master]
GO
